---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title: Belize

intro: >
  <p class="text--xxl">Discover an untamed paradise on the Caribbean.</p>
  <p class="text--lg">Belize is a tropical wonderland, a country that nurtures and protects its natural landscape leaving sprawling rainforests and miles of unspoilt, idyllic coastlines. With one foot in Central America, and the other in the Caribbean, it shares the culture and beguiling landscapes of both. Vast Maya step pyramids interrupt wild jungle landscapes, whilst the coast hides the second-largest coral reef in the world. An uncharted quality makes Belize the ultimate destination for intrepid explorers. </p>

sections:

  - id: inspired-natural-sights
    title: Inspired Natural Sights
    content: Belize offers more awe-inspiring natural wonders than you could ever hope to see in one trip. Natural curiosities like the Blue Hole, vast underground cave networks, thick tropical jungle and of course the longest Barrier Reef in the Western Hemisphere, all combine to make Belize a coveted, unspoilt paradise.
    link: explore

  - id: ancient-roots
    title: Ancient Roots
    content: Belize’s Maya heritage rises out of thick jungle, taking form in mysterious temples and astounding art. Adventure into the sprawling forests to discover these enigmatic marvels; adventure being the operative, as some are very remote. Discover unique hieroglyphics and enchanting ritual caves; Maya is a truly remarkable civilization best discovered in the wilds of Belize.
    link: explore

  - id: foodie
    title: Foodie melting pot
    content: Belize’s unique location offers delectable feasts comprised of myriad flavours. Lobster and red snapper are enviable staples, picked fresh from the Caribbean. Hearty chicken stews are a classic of the Kriol cuisine and chocolate is a rich Belizean classic. With influence from Africa, Mexico, the Caribbean and more, Belize’s culinary map is diverse, and irresistibly mouth-watering.
    link: explore

---

<div class="bg-paper">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>


<div class="vpad--xxl">
  <div class="container">
    {% for section in page.sections %}
      <div class="bob{% cycle '', ' bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/{{page.id}}/{{section.id}}.jpg);">
            <a href="{{site.baseurl}}/{{section.link}}" class="bg-img__link"></a>
          </div>
        </div>
        <div class="bob__text">
          <h3 class="title title--lg text--italic">{{section.title}}</h3>
          <p>{{section.content}}</p>
          <div class="space--sm">
            <a href="{{site.baseurl}}/{{section.link}}" class="btn btn--primary">Explore Belize</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% include page/promo-competition.html %}


