---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title: Belize
  title-sub: Naturally beautiful

intro: >
  <p class="text--xl">Belize is an utterly beguiling land that still retains an untamed, uncharted mystique.</p>
  <p class="text--xl">It has avoided the the stampede of tourists that tend to unintentionally inspire endless developments and the destruction of natural habitats. Instead, it is a country rooted to its tropical rainforest interior and its Caribbean coastline.</p>
  <p class="text--xl">Land-locked to Central America, it shares some of the cultural heritage, the magnificent landscapes and uniquities of its continent base, whilst also offering the island magic that draws so many to the Caribbean. From vast Maya step pyramids erupting from wild jungle landscapes to exploring the second-largest coral reef in the world, Belize is a land full of surprises.</p>
  <p class="text--xl">If you’ve not considered Belize before, you can be forgiven; but take a look at our guides across this site – Belize is guaranteed to enchant.</p>

sections:

  - id: inspired-natural-sights
    title: Inspired Natural Sights
    content: Belize offers more awe-inspiring natural wonders than you could ever hope to see in one trip. Natural curiosities like the Blue Hole, vast underground cave networks, thick tropical jungle and of course the longest Barrier Reef in the Western Hemisphere, all combine to make Belize a veritable unspoilt paradise. The world’s first jaguar preserve hints at the incomparable wildlife on offer in Belize. Tropical birds cover a spectrum of song and colour, where in a day you can hang with monkeys in one of many reserves before swimming with sharks along the coast.
    link: explore

  - id: ancient-roots
    title: Ancient Roots
    content: Belize’s Maya heritage rises out of thick jungle in the form of mysterious temples and astounding art. Adventure into the thick of it to discover these enigmatic marvels – and adventure you will. The largest of these ancient temple complexes requires plenty of travelling, adding to the mystique of these remote historic outposts. Discover unique hieroglyphics, towering temples, and enchanting caves used for ritual by the city’s priests. Maya is an astounding civilization best discoverable in the wilds of Belize.
    link: explore

  - id: superlative-dining
    title: Superlative Dining
    content: Belize’s unique location offers delectable feasts comprised of a myriad of flavours. Its strong point is certainly the seafood plucked from the tropical Caribbean, where lobster and red snapper are enviable staples. Hearty chicken stews are a classic of the Kriol cuisine, and nearly everything in Belize is served up with the classic rice and beans. Chocolate is one of Belize’s most famous exports, so don’t miss the chance to indulge. With influence from Africa, Mexico, the Caribbean and more, Belize’s culinary map is a diverse, mouth-watering experience set to delight any traveller.
    link: explore

---

<div class="bg-paper">
  <div class="container container--xxl vpad--xxl text--center">
    {{page.intro}}
  </div>
</div>


<div class="vpad--xxl">
  <div class="container">
    {% for section in page.sections %}
      <div class="bob{% cycle '', ' bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--1-1" style="background-image: url({{site.img}}/content/{{page.id}}/{{section.id}}.jpg);">
            <a href="{{site.baseurl}}/{{section.link}}" class="bg-img__link"></a>
          </div>
        </div>
        <div class="bob__text">
          <h3 class="title title--lg text--italic">{{section.title}}</h3>
          <p class="text--lg">{{section.content}}</p>
          <div class="space--sm">
            <a href="{{site.baseurl}}/{{section.link}}" class="btn btn--primary">Explore Belize</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% include page/promo-competition.html %}


