---
layout: explore
id: explore
title: Explore
nav-order: 2


intro: >
  <p class="title title--md title--italic title--thin title--display">Let Belize inspire you.</p>
  <p class="text--xl line-length--lg">We’ve created these guides to help you unpick this tropical idyll. From the jungle interior to the breathtaking coastline, discover what Belize has to offer here.</p>


---



<div class="section bg--paper">
  <div class="row row--padding row--xl text--center">
    {{page.intro}}
  </div>
</div>



<div class="section">
  <div class="row row--padding">
    <div class="row row--xxl row--6-6-gutters">
    {% assign site-guides = site.html_pages | where: 'layout', 'guide' | sort: 'group-order' %}
    {% for guide in site-guides %}
      <div class="col">
        {% include components/guide.html %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>



<div class="section">
  <div class="row row--padding">

    <div class="row text--center">
      <h3 class="title title--xxl title--italic title--thin title--display">Top Picks</h3>
      <p class="text--xl">Discover our favourite things to see and do in Belize</p>
    </div>


    <!-- TOP POIS -->
    <div class="row">

      <div class="row row--xxl">
      {% assign top-pois = site.data.pois %}
      {% for poi in top-pois %}

        <div class="featured-poi">
          <div class="bg-img bg-img--3-2" style="background-image: url({{site.baseurl}}/img/content/pois/{{poi.title|slugify}}.jpg);"></div>
          <div class="space--md"></div>
          <h4 class="title--xxs title--display title--bold title--upper title--kerning">{{poi.title}}</h4>
          <p class="text--small">{{poi.description}}</p>
        </div>

      {% endfor %}
      </div>

    </div><!-- end TOP POIS -->


    <div class="row text--center">
      <a href="{{site.baseurl}}/explore/coast" class="btn btn--lg btn--grad-blue">See more</a>
    </div>

    <div class="space--md"></div>

  </div>
</div>