<div class="bg-img bg-img--2-3 bg-img--hover bg-img--rounded" style="background-image: url('{{site.baseurl}}/img/bg/{{guide.id}}-guide.jpg');">
  <a href="{{site.baseurl}}{{guide.url}}" class="bg-img__link"></a>
  <div class="bg-img__content">
    <div class="title title--xxs title--upper title--bold title--kerning">Our guide to</div>
    <hr class="hr--center">
    <h3 class="title title--xxl title--display title--italic">{{guide.title}}</h3>
    <p class="text--lg hide--sm">
      {{guide.intro-short}}
    </p>

    <span class="btn btn--white-outline">
      Read more
    </span>
  </div>
</div>