---
layout: explore
---

<div class="section bg--paper">
  <div class="row row--padding row--xl text--center">
    <div class="line-length--lg">
      <p class="text--xl">{{page.intro}}</p>
    </div>
  </div>
</div>

<div class="section">
  <div class="row row--padding">
    {% assign page-sections = page.sections %}
    {% for section in page-sections %}
    <div class="section">
      <div class="row">
        <h3 class="title title--lg title--italic">{{section.title}}</h3>
        <p class="text--lg line-length--lg">{{section.description}}</p>
      </div>
      <div class="row row--4-4-4-gutters">
        {% for poi in section.pois %}
        <div class="col">
          <div class="bg-img bg-img--3-2" style="background-image: url({{site.baseurl}}/img/content/pois/{{poi.title|slugify}}.jpg);"></div>
          <div class="space--md"></div>
          <h4 class="title--xxs title--display title--bold title--upper title--kerning">{{poi.title}}</h4>
          <p class="text--small">{{poi.description}}</p>
        </div>
        {% endfor %} <!-- end poi -->
      </div>
    </div>
    {% endfor %} <!-- end section -->
  </div>
</div>